* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body {
    margin:20px;
    background-color: #000814;
}

.nav {
    height: 5rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.nav-title {
    text-transform: uppercase;
    font-weight: 200;
    font-size: 14px;
    font-family: 'Crimson Pro', serif;
}
.nav-body-item a:hover{
    color: rgb(85, 71, 71);
    transition: all 0.2s ease-in-out;
}
.nav-title h4 {
    color: wheat;
    padding: .5rem;
    border: 1px solid rgb(197, 193, 193);
}

#menu {
    font-size: 35px;
    cursor: pointer;
}

.menu2{
    transform: translateX(100%);
}

.nav-body-items {
    position: fixed;
    background-color: #181719;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    transition: all .5s ease-in-out;
}

.nav-body-items li {
    margin-bottom: 2rem;
    list-style: none;
    text-align: center;
}

.nav-body-item {
    font-family: 'Montserrat', serif;
    font-size: 22px;
    padding: .3rem 0;
}

.nav-body-item a {
    padding: .3rem;
    text-decoration: none;
    color: #fff;
}

.active {
    font-weight: 700;
    border-bottom: 4px solid #fff;
}

#cancel {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 45px;
    cursor: pointer;
    transition: color .2s ease-in;
}

#cancel:hover, #menu:hover {
    color: #cdcad0;
    font-weight: 700;
}




@media screen AND (min-width: 700px) {

    .nav-body {
        width: 65%;
    }

    .nav-body-items {
        transform: translate(0);
        background: none;
        position: relative;
        width: 100%;
        height: initial;
        transition: none;
    }

    .nav-body-items ul {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .nav-body-item {
        font-size: 18px;
    }

    #menu, #cancel {
        display: none;
    }

   
    

}

@media screen AND (min-width: 900px) {
    .nav-body {
        width: 50%;
    }
}


.section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 60px;
}

.box1 {
    flex: 1 1 200px;
    margin:40px;
}

.one {
    width: 650px;
}

.box1 h1 {
    color: #f1faee;
    font-size: 2.6rem;
    font-weight: 900;
}   

.box1 p{
    color: #f1faee;
    line-height: 30px;
    font-size: 18.2px;
    font-weight: 500;
 }


.box1 a {
    text-decoration: none;
    font-size: 20px;
    color: #e9edc9;
    font-weight: 700;
}

.box1 i {
     padding-left: 15px;
}
.box1  i:hover {
    translate: all 3s ease;
    transform: translateX(24%);
 
    transition: all .2s ease-out;
}


.border1 {
    color: #ffe8d6;
    float: right;
    margin-right: 5%;
    position: relative;
    margin-top:-60px;
    background-color: #000814;
    width:55%;
    padding:30px;
    box-shadow:0px 4px 4px 0px #00000040;
    height: 33%;
    font-weight: 700;
}
.border1 h2, h4{
    font-weight: 900;
}
.border1 h2{
    font-size: 2rem;
}
.border1 h4{
    font-size: 1.4rem;
}

.border1 img {
    width: 67px;
    border-radius: 50%;
}

.border1 p {
    font-size: 15px;
}


 @media only screen and (max-width:680px)
{
    .one{
        width:400px;
    }
} 

@media only screen and (max-width:380px)
{
    .one{
        width:300px;
    }
} 

 @media only screen and (max-width:680px)
{
    .border1{
        height:60%;
    }
} 


@media only screen and (min-width:800px)
{
    .box1 p{
        width: 70%; 
    }
}

footer p {
    display: flex;
    color: thistle;
    justify-content: center;
}